#
# Assumes that a connection is being made to the PBS host using an API Token and Secret value as opposed to a
# username/password style login
#

# PBS_REPOSITORY should use a format of "<user@realm!apitokenname>@<PBS-Host-FQDN>:<Datastore>"
export PBS_REPOSITORY="pbs_client@pbs!host-backup-token@<fqdn>:<datastore>"

# If using an API Token to authenticate, the environment variable PBS_PASSWORD should contain the Token secret value
export PBS_PASSWORD="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

PBS_NAMESPACE="<Namespace>"
